.calendarPage {
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 600px;
}

.monthSelector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.monthButton {
    padding: 8px 12px;
    font-size: 1rem;
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectedMonth {
    padding: 8px 12px;
    font-size: 1rem;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.timeSelection {
    margin-left: 100px;
}

.fase {
    text-align: center;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.calendarContainer,
.timeSelection {
    flex: 1;
}

.h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.weekday {
    font-weight: bold;
    text-align: center;
}

.day, .weekend, .unavailable, .selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.weekend {
    background-color: #feabab;
    cursor: not-allowed;
}

.unavailable {
    background-color: #ffeb99;
    cursor: not-allowed;
}

.selected {
    background-color: #90ee90;
}

.timeSelection {
    text-align: center;
}

.times {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.timeButton {
    padding: 10px 15px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.occupiedTime {
    background-color: #ffcccc;
    cursor: not-allowed;
}

.selectedTime {
    background-color: #90ee90;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}

.nextButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: #f3bc9f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nextButton:hover {
    background-color: #e36f52;
}
